<!-- <input type="file" style="display: none;" #uploader/>   Ovo pravi dugme za upload fajlova sa kompijutera....zato sto je prilicno ruzno moze se iskoristiti 
    njegov reference od tog template i iskoristiti ga na drugi element kao ispod

<button (click)="uploader.click()">Load File</button> -->

<app-menu></app-menu>

<div class="container">
<router-outlet></router-outlet>


</div>

<!-- <app-menu></app-menu>
<div>
<input type="text" (input)="title=$event.target.value"/>
</div>
<div>
    <input type="checkbox" checked (change)="display= !display" />Display
</div>
<p></p>
<app-lifecycletest *ngIf="display" [title]="title"></app-lifecycletest>
<app-raiting (onRating)="handleRaiting($event)"></app-raiting> -->